.Footer {
  background-color: var(--additional-bg-color);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  height: 220px;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px 10px 10px;
}
