.Footer {
  background-color: var(--bg-color);
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  height: 220px;
  padding: 10px;
  border-radius: var(--border-radius);
  margin: 0px 10px 10px 10px;
}
