Header {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin: 10px 10px 0px;
}

.Menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
  color: var(--black-color);
  align-items: center;
  li {
    &:first-child {
      padding-top: 5px;
    }
  }
}

.Logo {
  li:first-child {
    padding-left: 10px;
    p {
      background-color: var(--bg-color);
      line-height: normal;
      // background: linear-gradient(90deg, #ffd500, #005abb);
      border-radius: var(--border-radius);
      font-family: "NymphaTrial", sans-serif !important;
      font-size: 35px;
      color: var(--layout-color);
      // padding: 5px 5px 0px;
      span {
        font-family: "NymphaTrial", sans-serif !important;
      }
    }
  }
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.d1 {
  input {
    width: 100%;
    height: 40px;
    padding: 0px 10px;
    border-radius: var(--border-radius);
    outline: none;
    border: none;
    background: var(--search-bg-color);
    color: var(--black-color);
    &:hover {
      background: var(--search-bg-hover);
    }
  }
  button {
    img {
      margin-bottom: -3px;
      filter: var(--img-invert);
    }
    position: absolute;
    top: 0;
    right: 0px;
    height: 40px;
    border: none;
    background-color: var(--invert-color);
    padding: 0px 15px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
  }
  form {
    input {
      font-size: 20px;
    }
  }
}

.d1,
.d2 {
  margin-left: 20px;
  // margin-top: 2px;
}

.d3 {
  margin-left: 10px;
}

.Central-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui {
  padding: 8px;
  border-radius: var(--border-radius);
  background: var(--search-bg-color);
}

.divider {
  font-size: 20px;
  filter: var(--img-invert);
}

.text {
  font-size: 20px;
}

.ui.dropdown {
  &:active {
    background: var(--search-bg-hover);
  }
  .menu {
    top: 120%;
    background-color: var(--dropdown-invert);
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);

    padding: 1px;
    box-shadow: none;
    border: none;
  }
}
.ui.dropdown .menu > .item {
  border-radius: var(--border-radius);
  margin: 5px;

  &:hover {
    background-color: var(--dropdown-invert-hover);
  }
}

.spancreated {
  font-size: 20px;
}

.Right-header-content {
  display: flex;
}
