Header {
  backdrop-filter: var(--blur);
  -webkit-backdrop-filter: var(--blur);
  background-color: var(--additional-bg-color);
  border-radius: 10px;
  margin: 10px 10px 0px 10px;
}

.Menu-list {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 0;
  color: var(--black-color);
}

.Logo {
  li:first-child {
    font-family: "Dirtyline36Daysoftype2022", sans-serif !important;
    font-size: 30px;
    color: var(--black-color);
    padding: 5px;
  }
}
