Header {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  margin: 10px 10px 0px;
}

.Menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 0;
  color: var(--black-color);
  align-items: center;
  li {
    &:first-child {
      padding-top: 5px;
    }
  }
}

.Logo {
  li:first-child {
    padding-left: 10px;
    p {
      background-color: var(--bg-color);
      line-height: normal;
      border-radius: var(--border-radius);
      font-family: "Dirtyline36Daysoftype2022", sans-serif !important;
      font-size: 35px;
      color: var(--layout-color);
      span {
        font-family: "Dirtyline36Daysoftype2022", sans-serif !important;
      }
    }
  }
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.d1 {
  padding-right: 70px;
  position: relative;
  input {
    width: 100%;
    height: 38px;
    padding: 0px 10px;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    outline: none;
    border: none;
    background: var(--search-bg-color);
    color: var(--black-color);
    &:hover {
      background: var(--search-bg-hover);
    }
  }
  button {
    img {
      margin-bottom: -3px;
      filter: var(--img-invert);
    }
    position: absolute;
    height: 38px;
    border: none;
    background-color: var(--invert-color);
    padding: 0px 15px;
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    cursor: pointer;
  }

  input {
    font-size: 20px;
  }
}

.Central-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ui {
  padding: 8px;
  border-radius: var(--border-radius);
  background: var(--search-bg-color);
}

.divider {
  font-size: 20px;
  filter: var(--img-invert);
}

.text {
  font-size: 20px;
}

.ui.dropdown {
  height: 38px;
  &:active {
    background: var(--search-bg-hover);
  }
  .menu {
    top: 120%;
    background-color: var(--dropdown-invert);
    border-radius: var(--border-radius);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    padding: 1px;
    box-shadow: none;
    border: none;
    .item {
      height: 38px;
    }
  }
}
.ui.dropdown .menu > .item {
  border-radius: var(--border-radius);
  margin: 5px;
  &:hover {
    background-color: var(--dropdown-invert-hover);
  }
}

.dropdown-img {
  margin-right: 10px !important;
}

.spancreated {
  font-size: 20px;
}

.Right-header-content {
  display: flex;
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:nth-child(1) {
      padding-right: 20px;
    }
    &:nth-child(2) {
      button {
        background: transparent url("./imgs/alarm.png") no-repeat center;
        filter: var(--img-invert);
        background-size: 30px;
        width: 30px;
        height: 30px;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &:nth-child(3) {
      padding-right: 80px;
      padding-left: 20px;
      button {
        background: transparent url("./imgs/user.png") no-repeat center;
        filter: var(--img-invert);
        background-size: 30px;
        width: 30px;
        height: 30px;
        border: none;
        span {
          font-size: 20px;
          padding-left: 40px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
