main {
  flex: 1 1 auto;
  display: flex;
}

.Layout-left {
  margin: 20px 0 0 10px;
  width: 220px;
  li {
    a {
      padding: 10px;
      display: block;
      margin: 1px;
    }
    &:hover {
      border-radius: 5px;
      background-color: var(--white-color);
    }
  }
}
