main {
  flex: 1 1 auto;
  display: flex;
}

.Layout-left {
  width: 220px;
  margin: 5px 2px 10px 5px;
  ul {
    padding: 5px 0px 0px 5px;
  }
  li {
    border-radius: var(--border-radius);
    height: 38px;
    a {
      margin: 1px;
      padding: 10px;
      display: block;
      font-size: 20px;
      color: var(--layout-color);
      img {
        margin: 0px 10px -3px 0px;
        filter: var(--img-invert);
      }
      &:hover {
        color: var(--layout-color);
      }
    }
    &:hover {
      background-color: var(--layout-color-hover);
    }
  }
}

.Rear-block {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  width: 100%;
  margin: 10px;
  padding: 10px;
}
