:root {
  --body-bg-color: #f2f2f2;
  --modal-bg-color-dark: #1b1b1b99;
  --modal-bg-color-white: #d3d3d399;
  --body-bg-color-dark: #3b393f;
  --body-bg-color-dark-hover: #4b484f;
  --additional-bg-color: #d7dadc;
  --white-color: #fff;
  --black-color: #000;
  --blured: blur(10px);
  --blured-invert: blur(0px);
  --border-radius: 8px;
  --height40: 40px;
  --layout-invert: invert(100%);
  --layout-reinvert: invert(0);
  --dropdown-background-light: #fff;
  --dropdown-background-light-hover: #ececec;
  --dropdown-background-dark: #a7a7a799;
  --dropdown-background-dark-hover: #929191e3;
  --preloader-light-bg: #d7dadc;
  --preloader-dark-bg: #000;
}

body.light {
  --blur: var(--blured-invert);
  --bg-color: var(--additional-bg-color);
  --modal-bg-color: var(--modal-bg-color-white);
  --invert-color: var(--black-color);
  --reinver-color: var(--white-color);
  --background-color: var(--body-bg-color);
  --layout-color: var(--black-color);
  --layout-color-hover: var(--additional-bg-color);
  --img-invert: var(--layout-reinvert);
  --search-bg-color: var(--body-bg-color);
  --search-bg-hover: var(--white-color);
  --dropdown-invert: var(--dropdown-background-light);
  --dropdown-invert-hover: var(--dropdown-background-light-hover);
  --preloader-bg: var(--preloader-light-bg);
}

body.dark {
  --blur: var(--blured);
  --bg-color: var(--black-color);
  --modal-bg-color: var(--modal-bg-color-dark);
  --invert-color: var(--additional-bg-color);
  --reinver-color: var(--black-color);
  --background-color: var(--body-bg-color-dark);
  --layout-color: var(--additional-bg-color);
  --layout-color-hover: var(--black-color);
  --img-invert: var(--layout-invert);
  --search-bg-color: var(--body-bg-color-dark);
  --search-bg-hover: var(--body-bg-color-dark-hover);
  --dropdown-invert: var(--dropdown-background-dark);
  --dropdown-invert-hover: var(--dropdown-background-dark-hover);
  --preloader-bg: var(--preloader-dark-bg);
}
